---
import { contentfulClient } from "../lib/contentful";
import { ContentfulAboutSection } from "../types";

const aboutSection: ContentfulAboutSection = await contentfulClient.getEntry<ContentfulAboutSection>(
  "2Ey3npKRxX1saqx27uIA2J"
);
---

<section id="about" class="bg-gray-900 dark:bg-gray-900 py-12">
  <div class="gap-16 py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6">
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-primary dark:text-white">
        {aboutSection.fields.sectionName}
      </h2>
      <p class="mb-4 text-white">
        {aboutSection.fields.sectionDescription}
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <img
        class="w-full rounded-lg"
        src={`https:${aboutSection.fields.leftSideImage.fields.file.url}`}
        alt="office content 1"
      />
      <img
        class="mt-4 w-full lg:mt-10 rounded-lg"
        src={`https:${aboutSection.fields.rightSideImage.fields.file.url}`}
        alt="office content 2"
      />
    </div>
  </div>
</section>
