---
import { BackgroundImage } from "astro-imagetools/components";
---

<div
  class="w-full bg-center bg-cover h-full"
  style="margin-top: -50px; transform: translateZ(-50px); background-image: url(https://cf.ltkcdn.net/garden/images/orig/215122-2123x1412-gardengreenhouse.jpg);"
>
  <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 pb-50">
    <div class="text-center pb-40">
      <h1
        class="text-neutral-100 text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
      >
        Add some primary text here
      </h1>
      <div class="max-w-3xl mx-auto lg:max-w-none">
        <p class="text-xl text-neutral-300 mb-6 dark:text-slate-300 font-bold">Add some secondary text here</p>
      </div>
    </div>
  </div>
</div>
