---
import { contentfulClient } from "../lib/contentful";
import { ContentfulHeroSection } from "../types";

const heroSection: ContentfulHeroSection = await contentfulClient.getEntry<ContentfulHeroSection>(
  "4qAadQH3LDRToFNlVFJL8i"
);
---

<div
  class="w-full bg-center bg-cover h-full"
  style=`margin-top: -50px; transform: translateZ(-50px); background-image: url(https:${heroSection.fields.heroImage.fields.file.url});`
>
  <div class="flex items-center justify-center w-full h-full bg-gray-900 bg-opacity-50 pb-50">
    <div class="text-center pb-40">
      <h1
        class="text-neutral-100 text-5xl md:text-6xl font-bold leading-tighter tracking-tighter mb-4 font-heading dark:text-gray-200"
      >
        {heroSection.fields.mainText}
      </h1>
      <div class="max-w-3xl mx-auto lg:max-w-none">
        <p class="text-xl text-neutral-300 mb-6 dark:text-slate-300 font-bold">{heroSection.fields.secondaryText}</p>
      </div>
    </div>
  </div>
</div>
