---
---

<div>
  <p>retails</p>
  <iframe
    width="600"
    height="600"
    style="border:0"
    loading="lazy"
    src=`https://www.google.com/maps/embed/v1/place?q=place_id:ChIJF42ocU-C4okRPU20KUEWxeE&key=${import.meta.env.PUBLIC_GOOGLE_MAPS_API_KEY}`
  ></iframe>
  <p>wholesale</p>
  <iframe
    width="500"
    height="500"
    style="border:0"
    loading="lazy"
    allowfullscreen
    src=`https://www.google.com/maps/embed/v1/place?q=place_id:ChIJzyMUeZyA4okRVby53F5HZ3w&key=${import.meta.env.PUBLIC_GOOGLE_MAPS_API_KEY}`
  ></iframe>
</div>
