---
import { SITE } from "~/config.mjs";
import Layout from "~/layouts/PageLayout.astro";

import Header from "../components/widgets/Header.astro";
import Services from "../parts/Services.astro";
import About from "../parts/About.astro";
import Contact from "../parts/Contact.astro";
import Testimonials from "../parts/Testimonials.astro";
import Hero from "../parts/Hero.astro";

const meta = {
  title: SITE.title,
  description: SITE.description,
  dontUseTitleTemplate: true,
};
---

<Layout {meta}>
  <Fragment slot="header">
    <Header
      links={[
        {
          text: "Services",
          href: "#services",
        },
        {
          text: "About",
          href: "#about",
        },
        {
          text: "Testimonials",
          href: "#testimonials",
        },
        {
          text: "Contact",
          href: "#contact",
        },
      ]}
      actions={[]}
      showToggleTheme
      isSticky
    />
  </Fragment>
  <div class="h-screen"><Hero /></div>
  <Services />
  <About />
  <Testimonials />
  <Contact />
</Layout>
